<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <div>
    <input disabled type="checkbox" name="<%= task.id %>" <%= task.completed ? "checked" : "" %> >
    <label for="<%= task.id %>"> <%= link_to task.title, task_path(task) %>
  </div>
  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<p> <%= link_to "+ Add a new task", new_task_path %></p>
